@using WeatherApp.Services;
@model IEnumerable<WeatherApp.Models.WeatherApiModel.Root>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather</h1>

    <meta charset="UTF-8">
    <link href="css/stylesheet1.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/img/logo1.png" rel="icon">
    <script type="module"></script>

    <header class="header">
        @using (Html.BeginForm("SearchLocation", "Home", FormMethod.Post))
        {
            <label for="query">Location</label>
            <input id="query" placeholder="Search..." type="text" name="query">            
            <button class="fa fa-search" type="submit" name="query"></button>
        }
    </header>

    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        DateTime
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Weather
                    </th>
                    <th>
                        Temperature
                    </th>
                    <th>
                        Daylight
                    </th>
                    <th>
                        Misc.
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="vertical-align : middle">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            Local Time: @DateTimeOffset.FromUnixTimeSeconds(ConversionService.HtmlToInt(@Html.DisplayFor(modelItem => item.dt))).ToLocalTime().ToString(ConversionService.timeFormat)
                            @TimeZoneInfo.Local
                            <br>
                            Location Time: @System.TimeZoneInfo.ConvertTimeFromUtc(
                                DateTimeOffset.FromUnixTimeSeconds(ConversionService.HtmlToInt(@Html.DisplayFor(modelItem => item.dt))).UtcDateTime,
                                ConversionService.FindTimeZoneByOffset(ConversionService.SecToHours(ConversionService.HtmlToInt(@Html.DisplayFor(modelItem => item.timezone))))[0]).ToString(ConversionService.timeFormat)
                            @ConversionService.FindTimeZoneByOffset(ConversionService.SecToHours(ConversionService.HtmlToInt(@Html.DisplayFor(modelItem => item.timezone))))[0]
@*                             @System.TimeZoneInfo.ConvertTimeFromUtc(
                                     Global.HtmlToInt(@Html.DisplayFor(modelItem => item.timezone)) *@
@*                             <br>
                            .ToString("ddd, dd MMM yyyy HH:mm:ss")
                            @DateTimeOffset.FromUnixTimeSeconds(Global.HtmlToInt(@Html.DisplayFor(modelItem => item.timezone))).ToLocalTime() *@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            <img src="@ConversionService.IconToUrl(ConversionService.HtmlToString(@Html.DisplayFor(modelItem => item.weather[0].icon)))" alt="Weather Icon" />
                            @Html.DisplayFor(modelItem => item.weather[0].main),
                            @Html.DisplayFor(modelItem => item.weather[0].description)
                        </td>
                        <td style="text-align : left">
                            Temperature: @ConversionService.KelvinToFahrenheit(ConversionService.HtmlToDouble(@Html.DisplayFor(modelItem => item.main.temp)))°F
                            <br>
                            Feels Like: @ConversionService.KelvinToFahrenheit(ConversionService.HtmlToDouble(@Html.DisplayFor(modelItem => item.main.feels_like)))°F
                            <br>
                            Min: @ConversionService.KelvinToFahrenheit(ConversionService.HtmlToDouble(@Html.DisplayFor(modelItem => item.main.temp_min)))°F
                            <br>
                            Max: @ConversionService.KelvinToFahrenheit(ConversionService.HtmlToDouble(@Html.DisplayFor(modelItem => item.main.temp_max)))°F
                        </td>
                        <td style="text-align : left">
@*                             Sunrise: @DateTimeOffset.FromUnixTimeSeconds(Global.HtmlToInt(@Html.DisplayFor(modelItem => item.sys.sunrise))).ToLocalTime()
                            <br>
                            Sunset: @DateTimeOffset.FromUnixTimeSeconds(Global.HtmlToInt(@Html.DisplayFor(modelItem => item.sys.sunset))).ToLocalTime() *@
                        </td>
                        <td style="text-align : left">
                            Humidity: @Html.DisplayFor(modelItem => item.main.humidity)%
                            <br>
                            Visibility: @ConversionService.MetersToMiles(ConversionService.HtmlToDouble(@Html.DisplayFor(modelItem => item.visibility))) mi
                            <br>
                            Wind Speed: @ConversionService.MpsToMph(ConversionService.HtmlToDouble(@Html.DisplayFor(modelItem => item.wind.speed))) MPH
                            <br>
                            Cloudiness: @Html.DisplayFor(modelItem => item.clouds.all)%
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>  
